[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
uwsgi = "*"
pillow = "*"
django-storages = "*"
"boto3" = "*"
"psycopg2-binary" = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.6"
