[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
uwsgi = "*"
pillow = "*"
pilkit = "*"
django-imagekit = "*"
django-storages = "*"
"boto3" = "*"
"psycopg2-binary" = "*"
django-extensions = "*"
ipython = "*"
djangorestframework = "*"
django-filter = "*"
requests = "*"

[dev-packages]
awsebcli = "*"
ipython = "*"
django-extensions = "*"
"bs4" = "*"
lxml = "*"

[requires]
python_version = "3.6"
